<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.DictMapper">
    <select id="queryList" parameterType="string" resultType="Dict">
        select id,
               group_id as groupId,
               name,
               value,
               sort
            from t_springmvc_dict
            where group_id = #{groupId}
            order by sort
    </select>
</mapper>