<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etoak.mapper.UserMapper">

    <insert id="addUser" parameterType="User" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO t_boot_user(
                name,
                password,
                email,
                age,
                gender,
                birthday
        )VALUES(
                #{name},
                #{password},
                #{email},
                #{age},
                #{gender},
                NOW()
        )
    </insert>

    <select id="queryByName" parameterType="String" resultType="User">
        SELECT id,
                 name,
                password,
                email,
                age,
                gender,
                birthday,
                state
             FROM t_boot_user
             WHERE name = #{name}
    </select>

</mapper>