<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/lib/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet">
        <title>房源列表</title>
    </head>
    <body>

    <!--查询区域-->
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-primary">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        查询条件
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                    <form class="form-horizontal" role="form">
                        <!--所在省-->
                        <div class="form-group">
                            <label class="col-md-1 control-label">所在省</label>
                            <div class="col-md-2">
                                <select id="province" name="province" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                            <!--所在市-->
                            <label class="col-md-1 control-label">所在市</label>
                            <div class="col-md-2">
                                <select id="city" name="city" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                            <!--所在区-->
                            <label class="col-md-1 control-label">所在区</label>
                            <div class="col-md-2">
                                <select id="area" name="area" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!--租赁方式，单选框-->
                        <div class="form-group">
                            <label class="col-md-1 control-label">租赁方式</label>
                            <div class="col-md-2" id="rent_mode">
                                <label class="radio-inline">
                                    <input type="radio" name="rentMode" value="" checked> 不限
                                </label>
                            </div>
                        </div>
                        <!--租金范围-->
                        <div class="form-group">
                            <label class="col-md-1 control-label">租金</label>
                            <div class="col-md-11" >
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="rental" value="100-1000"> <=1000元
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="rental" value="1000-1500"> 1000~1500元
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="rental" value="1500-2500"> 1500~2500元
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="rental" value="2500-5000"> 2500~5000元
                                </label>
                                <label class="checkbox-inline">
                                    <input type="checkbox" name="rental" value="5000-10000"> >5000元
                                </label>
                            </div>
                        </div>
                        <!--户型-->
                        <div class="form-group">
                            <label class="col-md-1 control-label">户型</label>
                            <div class="col-md-6" id="house_type">

                            </div>
                        </div>
                        <!--朝向-->
                        <div class="form-group">
                            <label class="col-md-1 control-label">朝向</label>
                            <div class="col-md-6" id="orientation">

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button id="queryBtn" type="button" class="btn btn-primary">查询</button>
                                <button type="reset" class="btn btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--展示房源列表-->
    <table id="listTable"></table>

    <!--编辑房源-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">编辑房源</h4>
                </div>
                <div class="modal-body">
                    <form th:action="@{/house/update}"
                          method="post"
                          id="updateForm"
                          class="form-horizontal" role="form">

                        <!-- id隐藏域：用于更新房源 -->
                        <input type="hidden" id="update_house_id" name="id">

                        <!-- 隐藏域：将post请求转成put请求 -->
                        <input type="hidden" name="_method" value="put">

                        <!-- 1.省 -->
                        <div class="form-group">
                            <label for="update_province" class="col-sm-2 control-label">所在省</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_province" name="province" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 2.市 -->
                        <div class="form-group">
                            <label for="update_city" class="col-sm-2 control-label">所在市</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_city" name="city" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 3.区县 -->
                        <div class="form-group">
                            <label for="update_area" class="col-sm-2 control-label">所在区县</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_area" name="area" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 4.租赁方式 -->
                        <div class="form-group">
                            <label for="update_rent_mode" class="col-sm-2 control-label">租赁方式</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_rent_mode" name="rentMode" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 5.朝向 -->
                        <div class="form-group">
                            <label for="update_orientation" class="col-sm-2 control-label">朝向</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_orientation" name="orientation" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 6.户型 -->
                        <div class="form-group">
                            <label for="update_house_type" class="col-sm-2 control-label">户型</label>
                            <div class="col-sm-3 input-group">
                                <select id="update_house_type" name="houseType" class="form-control">
                                    <option value="">--请选择--</option>
                                </select>
                            </div>
                        </div>
                        <!-- 7. 租金 -->
                        <div class="form-group">
                            <label for="update_rental" class="col-sm-2 control-label">租金</label>
                            <div class="col-sm-3 input-group">
                                <input type="number" name="rental" id="update_rental" class="form-control">
                            </div>
                        </div>
                        <!-- 8. 地址 -->
                        <div class="form-group">
                            <label for="update_address" class="col-sm-2 control-label">地址</label>
                            <div class="col-sm-3 input-group">
                                <input type="text" name="address" id="update_address" class="form-control">
                            </div>
                        </div>
                        <!-- 9.关闭和更新按钮 -->
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-3">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     <form id="delForm" method="post">
           <input type="hidden" name="_method"  value="delete">
     </form>

    <script th:src="@{/lib/js/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/bootstrap-table/bootstrap-table.min.js}" type="text/javascript"></script>
    <script th:src="@{/lib/bootstrap-table/bootstrap-table-zh-CN.min.js}" type="text/javascript"></script>
    <script th:inline="javascript" type="text/javascript">
        const path = [[${#request.getContextPath()}]];
        const areaOption = "<option value=''>--请选择--</option>";
        $(function () {
            house.queryList();
            $('#queryBtn').click(function () {
                $('#listTable').bootstrapTable('refresh')
            });
            //查询区域
            house.queryArea('province',0);
            $('#province').change(function () {
                $('#city').html(areaOption);
                $('#area').html(areaOption);
                if(this.value){
                    house.queryArea('city',this.value);
                }
            });
            $('#city').change(function () {
                $('#area').html(areaOption);
                if(this.value){
                    house.queryArea('area',this.value);
                }
            });
            //查询租赁方式
            house.queryRentMode();
            //查询户型和朝向
            house.getQueryPanelDict('house_type');
            house.getQueryPanelDict('orientation');

            house.queryArea('update_province',0);
            house.queryUpdateModalDict('rent_mode');
            house.queryUpdateModalDict('house_type');
            house.queryUpdateModalDict('orientation');
            $('#update_province').change(function() {
                $('#update_city').html(areaOption);
                $('#update_area').html(areaOption);
                if(this.value) {
                    house.queryArea('update_city', this.value);
                }
            });
            $('#update_city').change(function() {
                $('#update_area').html(areaOption);
                if(this.value) {
                    house.queryArea('update_area', this.value);
                }
            });
        });

        let house = {
            queryList:function () {
                $('#listTable').bootstrapTable({
                    url:path + '/house/list',
                    pagination: true,
                    sidePagination: 'server', //服务端分页
                    pageNumber: 1,
                    pageSize: 5,
                    pageList: [5,10,20,30], //每页显示多少条
                    queryParamsType: 'undefined',
                    paginationPreText: '上一页',
                    paginationNextText: '下一页',
                    queryParams:function (params) {
                        let rentMode = $("input[name='rentMode']:checked").val();
                        //定义户型参数
                        let houseTypeList = [];
                        $("input[name='house_type']:checked").each(function () {
                            //尾部添加元素
                            houseTypeList.push(this.value);
                        });
                        //定义朝向
                        let orientationList = [];
                        $("input[name='orientation']:checked").each(function () {
                            //头部添加元素
                            orientationList.unshift(this.value);
                        });

                        //定义租金范围
                        let rentalList = [];
                        $('input[name="rental"]:checked').each(function () {
                            rentalList.push(this.value);
                        });

                        let newParam = {
                            pageNum: params.pageNumber,
                            pageSize: params.pageSize,
                            //省市区查询条件
                            province: $('#province').val(),
                            city: $('#city').val(),
                            area: $('#area').val(),
                            rentMode: rentMode,
                            houseTypeList:houseTypeList.join(','), //将数组元素使用','分割拼接
                            orientationList:orientationList.join(','),
                            rentalList:rentalList.join(','), //rentalList[]:100-1000
                        };
                        return newParam;
                    },
                    columns:[
                        {field:'id',title:'编号'},
                        {field:'areaName',title:'所在区'},
                        {field:'rentModeName',title:'方式'},
                        {field:'rental',title:'租金(元)'},
                        {field:'houseTypeName',title:'户型'},
                        {field:'orientationName',title:'朝向'},
                        {field:'address',title:'详细地址'},
                        {field:'publishTime',title:'发布时间'},
                        {title:'图片',formatter: function (value,row,index) {
                                return "<img width='50px' height='50px' src='" + path + row.pic + "' />";
                            }
                        },
                        {title:'操作',formatter:function (value,row,index) {
                            let updateBtn = "<button id='updateBtn' class='btn btn-primary' type='button' data-toggle='modal' data-target='#myModal'>更新</button>";
                            let deleteBtn = "<button id='deleteBtn' class='btn btn-danger' type='button'>删除</button>"
                            return updateBtn + " "+ deleteBtn;
                            },
                            events: houseEvent //window事件
                        }
                    ]
                });
            },

            queryArea:function (domId,pid) {
                $.ajax({
                    url:path + '/area/queryByPid',
                    type:'GET',
                    data:'pid=' + pid,
                    dataType:'json',
                    async: false,
                    success:function (res) {
                        let options = "<option value=''>--请选择--</option>";
                        $.each(res,function(index,area){
                            options += "<option value='"+ area.id + "'>"
                                    +area.name
                                    +"</option>";
                        });
                        $('#' + domId).html(options);
                    },
                });
            },
            //查询租赁方式
            queryRentMode:function () {
                $.ajax({
                    url:path + '/dict/rent_mode',
                    type:'GET',
                    data:'',
                    dataType:'json',
                    success:function (res) {
                        let radios = "";
                        for(let i in res){
                            let showName = res[i].name;
                            let radioValue = res[i].value;
                            radios +="<label class='radio-inline'>"
                                   +"<input type='radio' name='rentMode' value='" + radioValue + "'>" +showName
                                   +"</label>";
                        }
                        $('#rent_mode').append(radios);
                    }
                })
            },
            //获取查询面板的字典项：户型和朝向
            //这里的groupId也作为操作dom的Id
            getQueryPanelDict:function (groupId) {
                $.ajax({
                    url:path + '/dict/' + groupId,
                    type:'GET',
                    data:'',
                    dataType:'json',
                    success:function (res) {
                        let checkboxStr = '';
                        $.each(res,function (index,dict) {
                            checkboxStr += "<label class='checkbox-inline'>"
                                        + "<input type='checkbox' name='" +groupId+"' value='" + dict.value+"'>"
                                        + dict.name
                                        +"</label>";
                        });
                        $('#' + groupId).html(checkboxStr);
                    }
                });
            },
            //查询更新静态字典项
            queryUpdateModalDict:function (groupId) {
                $.ajax({
                    url:path + '/dict/' + groupId,
                    type: 'GET',
                    data:'',
                    dateType:'json',
                    success:function (res) {
                        let options = "<option value=''>--请选择--</option>";
                        $.each(res, function (index, dict) {
                            options += "<option value='" + dict.value + "'>"
                                + dict.name
                                + "</option>";
                        });
                        $('#update_' + groupId).html(options);
                    }
                });
            }

        }

        window.houseEvent = {
            'click #updateBtn':function (event,value,row,index) {
                $('#update_house_id').val(row.id);
                $('#update_province').val(row.province);
                //根据所在省加载所有市
                house.queryArea('update_city',row.province); //异步请求
                $('#update_city').val(row.city);

                house.queryArea('update_area',row.city);
                $('#update_area').val(row.area);

                $('#update_rent_mode').val(row.rentMode);
                $('#update_house_type').val(row.houseType);
                $('#update_orientation').val(row.orientation);
                $('#update_rental').val(row.rental);
                $('#update_address').val(row.address);
            },
            'click #deleteBtn':function (event,value,row,index) {
                let action = path + '/house/' + row.id;
                if(confirm('确定要删除吗？')){
                    $('#delForm').attr('action',action).submit();
                }
            }
        }
    </script>
    </body>
</html>